:root{
    box-sizing: border-box;
}
html, body, *{
    margin: 0;
    padding: 0;
}

#app{
    height: 100vh;
}

.summary{
    margin: 0 auto;
    border: 3px solid rgb(116, 70, 70);
    width: 400px;
    height: 400px;
    text-align: center;
}

.games{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option{
    color: rgb(0, 0, 0);
    width: 30%;
    margin: 10px 15px;
    padding: 25px;
    background-color: antiquewhite;
    text-align: center;
}
.option:hover{
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)ease-in-out;
    transform: scale(110%);
    background-color: rgb(192, 179, 162);
}